.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .indicator {
    height: 12px;
    width: 12px;
    border-radius: 100%;
    border: none;
    outline: none;
    margin: 0 0.2rem;
    cursor: pointer;
    background-color: #d3d2d2;
  }
  .active {
    background-color: #83cef9;
    width: 32px;
    height: 12px;
    border-radius: 8px;
  }
  .navigationIcon {
    width: 24px;
    height: 24px;
    color: #d3d2d2;
    cursor: pointer;
  }
  